@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  @apply md:bg-[#a89661]/20;
}

.display-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
